<template>
    <div class="container">
        <my-header></my-header>
        <hr>
        <my-body></my-body>
        <hr>
        <my-footer></my-footer>
    </div>
</template>

<script>
    import Header from './components/Header.vue'
    import Footer from './components/Footer.vue'
    import Body from './components/Body.vue'

    export default {
        components: {
            'my-header': Header,
            'my-footer': Footer,
            'my-body': Body,
        }
    }

</script>